html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* BASE STYLES */
body {
  background: #000;
  color: #ffffff;
  font-family: "skolar-sans-latin", sans-serif;
  font-size: 1em;
  font-weight: 100;
  line-height: 1.5;
  text-align: center; }

.brand {
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
  background-image: url("../images/canon-logo.png");
  background: center no-repeat;
  height: 61px;
  margin: 1.25em auto; }
  @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-webkit-min-device-pixel-ratio: 1.3020833333333333), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
    .brand {
      background-image: url("../images/canon-logo_2x.png");
      background-size: 294px 61px; } }

.cart {
  margin: 0 auto;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 48.821174201%; }
  .cart:last-child {
    margin-right: 0; }
  .cart a:hover {
    color: #ffffff; }

.button {
  background: #EE1B22;
  padding: 1em 2em;
  font-size: 0.75em;
  text-transform: uppercase;
  text-align: center;
  display: inline-block; }

h1 {
  font-size: 2.875em;
  color: #EE1B22;
  font-weight: 100;
  text-align: center; }

h2 {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 1.25;
  text-align: center; }

h3 {
  font-size: 1.125em;
  font-weight: 400;
  text-align: center; }

ul {
  font-weight: 100;
  padding: 0 1em;
  list-style: none; }

a {
  color: #ffffff; }

a:hover {
  color: #EE1B22; }

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.25em; }
  .wrapper::after {
    clear: both;
    content: "";
    display: table; }

.hero {
  margin: 0 0 100px 0; }

.section {
  margin: 100px 0 0; }

.contents {
  margin: 50px 0 0; }

.site-footer {
  margin: 200px 0 0;
  padding: 20px 0;
  background-color: #333; }
  .site-footer .footer-list h2 {
    text-transform: uppercase;
    font-size: 0.75em;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-align: left; }
  .site-footer .footer-list ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
    font-size: 0.75em; }

/* LAYOUTS */
header {
  margin: 1em 0 2em; }
  header img {
    max-width: 100%; }

/* FOOTER STYLES */
.site-footer .footer-list {
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 23.2317613015%; }
  .site-footer .footer-list:last-child {
    margin-right: 0; }
@media screen and (min-width: 768px) {
  .site-footer {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .site-footer:last-child {
      margin-right: 0; } }
@media screen and (min-width: 320px) {
  .site-footer {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 100%; }
    .site-footer:last-child {
      margin-right: 0; } }
.site-footer .footer-list.social ul li {
  display: inline-block;
  padding: 0 3px; }

.hero {
  display: block;
  text-align: center; }
  .hero::after {
    clear: both;
    content: "";
    display: table; }
  .hero .featured h1, .hero .featured h2 {
    margin: 0;
    padding: 0; }
  .hero .featured img {
    max-width: 100%; }
  .hero .supporting {
    margin: 0 auto;
    max-width: 780px; }

.box-contents {
  display: block; }
  .box-contents::after {
    clear: both;
    content: "";
    display: table; }
  .box-contents .diagram img {
    max-width: 100%; }

.feature-contents {
  display: block; }
  .feature-contents::after {
    clear: both;
    content: "";
    display: table; }
  .feature-contents .contents img {
    max-width: 100%; }
  .feature-contents .contents .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden; }
    .feature-contents .contents .video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.spec-contents {
  display: block; }
  .spec-contents::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 768px) {
    .spec-contents h2 {
      text-align: center; } }
  @media screen and (min-width: 768px) {
    .spec-contents .contents .diagram-right {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%;
      postion: relative;
      float: right; }
      .spec-contents .contents .diagram-right:last-child {
        margin-right: 0; } }
  .spec-contents .contents .diagram-right img {
    max-width: 100%; }
  @media screen and (min-width: 768px) {
    .spec-contents .contents .details-left {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%;
      margin: 5% 0;
      float: left;
      padding: 0 50px 0 0; }
      .spec-contents .contents .details-left:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 768px) {
    .spec-contents .contents .diagram-left {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%;
      postion: relative;
      float: left; }
      .spec-contents .contents .diagram-left:last-child {
        margin-right: 0; } }
  .spec-contents .contents .diagram-left img {
    max-width: 100%; }
  @media screen and (min-width: 768px) {
    .spec-contents .contents .details-right {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 48.821174201%;
      margin: 5% 0;
      float: right;
      padding: 0 0 50px 0; }
      .spec-contents .contents .details-right:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 320px) {
    .spec-contents .contents {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .spec-contents .contents:last-child {
        margin-right: 0; }
      .spec-contents .contents h2, .spec-contents .contents h3, .spec-contents .contents p {
        text-align: center; } }
  @media screen and (min-width: 425px) {
    .spec-contents .contents {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 100%; }
      .spec-contents .contents:last-child {
        margin-right: 0; }
      .spec-contents .contents h2, .spec-contents .contents h3, .spec-contents .contents p {
        text-align: center; } }

/*# sourceMappingURL=app.css.map */