// GLOBAL VARIABLES //


// COLORS //

$black:   #000
$white:   #ffffff
$red:     #EE1B22


// FONT STYLES//

$font-stack:  "skolar-sans-latin", sans-serif
$font-size:   16px
$light:       200
$regular:     400
$tight:       -0.5
$spacing:     1.5px
$uppercase:   uppercase
$line-height: 1.5

$none: none

// Media Queries
$tablet: min-width 768px
