// GLOBAL VARIABLES


// COLORS

$black:   #000
$white:   #ffffff
$red:     #EE1B22
$gray:    #3C3C3C


// FONT STYLES

$font-stack:  "skolar-sans-latin", sans-serif
$font-size:   16px
$light:       100
$regular:     400
$tight:       -0.5
$spacing:     1.5px
$uppercase:   uppercase
$line-height: 1.5

$none: none

// Grid
$max-site-width: 1440px
$custom-neat-grid: (columns: 12, gutter: 50px, media: 768px,)

// Media Queries

$tablet: min-width 768px
$large-mobile: min-width 425px
$mobile: min-width 320px

$position: relative
