// BASE STYLES

body
  background: $black
  color: $white
  font-family: $font-stack
  font-size: $font-size
  font-weight: $light
  letter-spacing: $tight
  line-height: $line-height

h1
  font-size: $font-size + 32
  color: $red
  font-weight: $light

h2
  font-size: $font-size + 12
  font-weight: $light

h3
  font-size: $font-size + 4
  font-weight: $regular

ul
  font-weight: $light

a
  color: $white

.wrapper
  @include outer-container
  padding: 0 1em
