// BASE STYLES

body
  background: $black
  color: $white
  font-family: $font-stack
  font-size: $font-size
  font-weight: $light
  line-height: $line-height
  text-align: center

.brand
  +hide-text
  +retina-image("../images/canon-logo", 294px 61px)
  background: center no-repeat
  height: 61px
  margin: 1.25em auto

.cart
  margin: 0 auto
  @include span-columns(6)
  a:hover
    color: $white

.button
  background: $red
  padding: 1em 2em
  font-size: em(12)
  text-transform: $uppercase
  text-align: center
  display: inline-block


h1
  font-size: em(46)
  color: $red
  font-weight: $light
  text-align: center

h2
  font-size: em(24)
  font-weight: $light
  line-height: 1.25
  text-align: center

h3
  font-size: em(18)
  font-weight: $regular
  text-align: center

ul
  font-weight: $light
  padding: 0 1em
  list-style: none

a
  color: $white

a:hover
  color: $red

.wrapper
  @include outer-container
  padding: 0 1.25em

.hero
  margin: 0 0 100px 0

.section
  margin: 100px 0 0

.contents
  margin: 50px 0 0
